<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" verbose="2">
	<test name="Tests" preserve-order="true"  enabled="true">
		<classes>
			<class name="seleniumproj.assignment.tests.SearchTests" />
		</classes>
	</test>
</suite>
